@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #0f0;
  margin: 0;
  overflow: hidden;
}

/* Cyberpunk Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f0;
}

.font-handwriting {
  font-family: "Courier New", monospace;
}
